@font-face {
  font-family: "Abril";
  src: url("/fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Light";
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf");
}
